.story-title {
  max-width: 1244px;
  padding: 0 40px;

  &__heading {
    font-size: 64px;
    line-height: 70px;
    margin: 3px 0 37px;
  }
}

@media (max-width: 1023px) {
  .story-title {
    padding: 0 30px;

    &__heading {
      font-size: 48px;
      line-height: 50px;
      margin: 36px 0 39px;
    }
  }
}

@media (max-width: 767px) {
  .story-title {
    padding: 0 20px;

    &__heading {
      font-size: 17px;
      line-height: 15px;
      margin: 7px 0 26px;
    }
  }
}
