.timeline-modal {

  display: none;

  &__overflow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
  }

  &--open {
    display: block;
  }

  &__window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // top: 0;
    // transform: translateX(-50%);
    z-index: 100;

    padding: 20px;

    img {
      max-width: 80vw;
      max-height: 80vh;
      height: auto;
    }

    @include viewport--md {
      padding: 30px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 8px;
    cursor: pointer;
    transition: opacity $transition-settings;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.9;
    }

    svg {
      width: 10px;
      height: 10px;
    }

    @include viewport--md {
      top: 8px;
      right: 8px;

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }


  &__title {
    font-size: 16px;
    margin: 0;

    @include viewport--md {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 14px;

    @include viewport--md {
      font-size: 18px;
    }
  }

  &__title + &__img,
  &__title + &__text {
    margin-top: 20px;
  }

  &__img + &__text,
  &__text + &__img {
    margin-top: 20px;
  }
}
