.timeline {
  padding-top: 21px;
  padding-bottom: 21px;

  @include viewport--lg {
    padding-top: 0;
  }
  @include viewport--xl {
    padding-right: 0;
    padding-left: 0;
  }

  &__list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 26px 22px;
    background-color: transparentize($bg-gray, 0.5);
    color: $font-color-white;
    transition: color $transition-settings;
    // overflow: hidden;


    &:hover {
      color: $font-color-gold;
      cursor: pointer;
    }

    @include viewport--md {
      padding: 31px 86px 31px 66px;
    }

    @include viewport--lg {
      padding: 70px 178px 70px 133px;
    }
  }

  &__item--open &__title {
    color: $font-color-gold;
    padding-bottom: 60px;

    @include viewport--md {
      padding-bottom: 31px;
    }

    @include viewport--lg {
      padding-bottom: 70px;
    }
  }

  &__title-link {
    font-size: 24px;
    font-weight: bold;
    color: inherit;
    z-index: 1;

    @include viewport--md {
      font-size: 30px;
      font-weight: normal;
    }

    @include viewport--lg {
      font-size: 48px;
    }
  }

  &__title-background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: auto 132px;
    background-position: center top;
    opacity: 0.5;

    @include viewport--lg {
      background-size: cover;
    }
  }

  &__opener {
    display: flex;
    margin: auto 0 auto auto;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
    outline: none;
    color: inherit;
    z-index: 1;

    svg {
      fill: currentColor;
      margin: auto;
      width: 100%;
      height: 10px;

    }

    @include viewport--md {
      width: 24px;
      height: 24px;

      svg {
        width: 100%;
        height: 10px;
      }
    }

    @include viewport--lg {
      width: 41px;
      height: 41px;

      svg {
        height: 20px;
      }
    }
  }

  &__item--open &__opener {
    transform: rotate(180deg);
  }

  &__content {
    display: none;
  }

  &__item--open &__content {
    position: relative;
    display: block;
    padding-top: 14px;
    padding-bottom: 21px;

    @include viewport--md {
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
    }

    @include viewport--lg {
      padding-left: 140px;
      padding-right: 140px;
    }
  }

  &__years {
    @include viewport--md {
      overflow: hidden;
      width: 100%;
    }
  }

  &__tabs-list {
    position: absolute;
    bottom: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: -2px 0 0 -11px;
    padding: 4px 25px;
    list-style-type: none;

    @include viewport--md {
      position: static;
      flex-shrink: 0;
      display: block;
      margin: 0;
      padding: 0;

    }
  }

  &__tabs-item {
    margin: 2px 0 0 11px;

    @include viewport--md {
      margin: 0;
    }
  }


  &__tabs-item ~ &__tabs-item {
    @include viewport--md {
      margin-top: 22px;
    }
  }

  &__tab {
    font-size: 11px;
    font-weight: bold;
    color: inherit;
    display: block;

    &:focus {
      color: white;
    }

    &:hover,
    &--active {
      color: $font-color-gold !important;
    }

    @include viewport--md {
      position: relative;
      padding-left: 47px;
      padding-right: 24px;
      font-size: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid;
        border-radius: 50%;
      }

      &--active {
        color: inherit;
      }
      &--active::before {
        background-color: currentColor;
      }
    }

    @include viewport--lg {
      padding-left: 42px;
      padding-right: 14px;
      width: 119px;

      &--active {
        font-size: 25px;
      }

      &::before {
        top: 5px;
        left: -3px;
      }
    }
  }
}
