mixin item(src, txt, alt)
  +e.LI.item
    +e.img-wrap
      img(src= src alt= alt)
    +e.desc #{txt}

+b.SECTION.about.container
  +e.inner
    +e.text
      p Музей Высоцкого – это уникальное выставочное пространство. Новая экспозиция, открывшаяся 25 января 2019 года, в восемьдесят первый день рождения Владимира Семеновича, погружает посетителей в «эпоху Высоцкого» – время, в которое он жил, воздух, которым он дышал, и атмосфера, в которой и из которой он творил.

    +e.UL.list
      +item("img/content/about1.png", "квадратных метров", "500 квадратных метров")
      +item("img/content/about3.png", "песен", "16 песен")
      +item("img/content/about2.png", "интерактивых стендов", "879 интерактивых стендов")
      +item("img/content/about4.png", "экспоната", "324 экспоната")
