+b.rooms-modal(data-rooms-modal="1")
  +e.overflow
  +e.window
    +e.close-btn
      +svg("#close-btn", 15, 15)
    +e.H3.title Таймлайн
    +e.img(src="img/content/rooms-modal-img1.png" alt="Детские сны")
    +e.text Арт-объект, демонстрирующий родословную Владимира Высоцкого. Каждое имя на древе – это тень, отбрасываемая трафаретом, символизирующая зыбкость всего живого на Земле.


+b.rooms-modal(data-rooms-modal="2")
  +e.overflow
  +e.window
    +e.close-btn
      +svg("#close-btn", 15, 15)
    +e.inner
      +e.left
        +e.H3.title "Детские сны"
        +e.text Арт-объект, демонстрирующий родословную Владимира Высоцкого. Каждое имя на древе – это тень, отбрасываемая трафаретом, символизирующая зыбкость всего живого на Земле.
      +e.right
        +e.img(src="img/content/rooms-modal-img2.png" alt="Детские сны")


+b.rooms-modal(data-rooms-modal="3")
  +e.overflow
  +e.window
    +e.close-btn
      +svg("#close-btn", 15, 15)
    +e.inner
      +e.left
        +e.img(src="img/content/rooms-modal-img2.png" alt="Детские сны")
      +e.right
        +e.H3.title Родословное дерево
        +e.text Арт-объект, демонстрирующий родословную Владимира Высоцкого. Каждое имя на древе – это тень, отбрасываемая трафаретом, символизирующая зыбкость всего живого на Земле.


+b.rooms-modal(data-rooms-modal="4")
  +e.overflow
  +e.window
    +e.close-btn
      +svg("#close-btn", 15, 15)
    +e.H3.title Длинная витрина
    +e.text Арт-объект, демонстрирующий родословную Владимира Высоцкого. Каждое имя на древе – это тень, отбрасываемая трафаретом, символизирующая зыбкость всего живого на Земле.
