include ./mixins/mixins.pug

doctype html
html(lang="ru")
  head
    include ./base/head.pug
    title Главная

  body

    div.wrapper
      main(style="background-color: dimgray;")
        include ../img/svg/map6.svg
        include ../img/svg/map7.svg
        include ../img/svg/map1.svg
        include ../img/svg/map2.svg
        include ../img/svg/map3.svg
        include ../img/svg/map4.svg
        include ../img/svg/map5.svg
