include ./mixins/mixins.pug

doctype html
html(lang="ru")
  head
    include ./base/head.pug
    title История музея

  body
    div(style="display: none;")
      include ../img/svg/sprite_auto.svg

    div.wrapper
      header
        include ./base/header.pug
      main
        include story/breadcrumbs.pug
        include story/story-title
        include story/story-slider
        include story/story-content.pug
      footer
        include ./base/footer.pug

    include ./base/scripts.pug
