include ./mixins/mixins.pug

doctype html
html(lang="ru")
  head
    include ./base/head.pug
    title Главная

  body
    div(style="display: none;")
      include ../img/svg/sprite_auto.svg

    div.wrapper
      header
        include ./base/header.pug
      main
        include ./timeline/timeline.pug

      footer
        include ./base/footer.pug

    include ./timeline/modal.pug
    include ./base/scripts.pug
