meta(charset="utf-8")
meta(content="width=device-width, initial-scale=1" name="viewport")
meta(content="ie=edge" http-equiv="x-ua-compatible")
meta(name="description" content="")
link(rel="stylesheet" href="css/style.min.css")
