+b.timeline-modal(data-timeline-modal="1")
  +e.overflow
  +e.window
    +e.close-btn
      +svg("#close-btn", 15, 15)
    +e.img(src="img/content/timeline-modal1.png" alt="")
    +e.text Подпись к фото


+b.timeline-modal(data-timeline-modal="2")
  +e.overflow
  +e.window
    +e.close-btn
      +svg("#close-btn", 15, 15)
    +e.img(src="img/content/timeline-modal2.png" alt="")
    +e.text Подпись к фото
